doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="icon" type="image/svg+xml" href="#")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Unlock the Wonders of Ukraine

    body(style={color: 'white', background: '#141A19'})

        include src/pug/modules/header.pug
        include src/pug/modules/main.pug
        include src/pug/modules/footer.pug



