header
    container
        a(href='index.html')
            svg(width='40' height='40' aria-label='')
                use(href='/src/img/icons/symbol-defs.svg#icon-Logo')
        
        button(type="button" aria-expanded="false" aria-controls="mobile-menu")
            svg(width='20' height='20' aria-label='')
                use(href='')