- 

    let icon = [
        {
            link:'https://www.instagram.com/',
            id:'icon-instagram-logo'
        },
        {
            link:'https://www.facebook.com/',
            id:'icon-facebook-logo'
        },
        {
            link:'https://telegram.org/',
            id:'icon-telegram-logo'
        }
    ];

section
    h1 
        |  Unlock the Wonders of
        br
        span Ukraine

    a(href="#our-tours") Our tours
    
    ul
        each iconData in icon
            li 
                a(href= iconData.link)
                        svg(width='24' height='24' aria-label='')
                            use(href='/src/img/icons/symbol-defs.svg#' + iconData.id)