section
    h1 
        |  Unlock the Wonders of
        br
        span Ukraine

    button Our tours
    
    ul
        li 
            a(href='https://www.instagram.com/')
                svg(width='24' height='24' aria-label='')
                    use(href='/src/img/icons/symbol-defs.svg#icon-instagram-logo')
        li
            a(href='https://www.facebook.com/')
                svg(width='24' height='24' aria-label='')
                    use(href='/src/img/icons/symbol-defs.svg#icon-facebook-logo')
        li
            a(href='https://telegram.org/')
                svg(width='24' height='24' aria-label='')
                    use(href='/src/img/icons/symbol-defs.svg#icon-telegram-logo')