include ../mixins/card-tours.pug

section(id='our-tours')
    h2 Our tours
    
    +card-tours(
    'tours-3.webp', 
    'tours-3@2x.webp', 
    'tours-3@3x.webp', 
    'tour image', 
    'Lake Synevyr and Shipit waterfall', 
    '2000 UAH',
    'Departure from Lviv (07:00) / Stryi (08:00)',
    'Pylypets (overview of Shipit waterfall and lunch)',
    'Synevyr Pass (photographing and viewing of Carpathian panoramas)',
    '"Synevyr" National Park (brown bear rehabilitation center and transition to the lake)',
    'Stryi (21:00)/Lviv (return by 22:00)')

    +card-tours(
    'tours-2.webp', 
    'tours-2@2x.webp', 
    'tours-2@3x.webp', 
    'tour image', 
    'Ancient History & Vibrant Present', 
    '3000 UAH',
    'Departure from Kiev (08:00)',
    "St. Sophia's Cathedral (iconic UNESCO World Heritage site)",
    'Golden Gate (historical monument visit)',
    'Bessarabsky Market (tasting local delicacies)',
    'Kiev Pechersk Lavra (exploration of the significant monastery)',
    'Return to Kiev by 20:00')

    +card-tours(
    'tours-1.webp', 
    'tours-1@2x.webp', 
    'tours-1@3x.webp', 
    'tour image', 
    'Black Sea Jewel', 
    '3500 UAH',
    'Departure from Odessa (08:00)',
    "Primorsky Boulevard (city's scenic walk)",
    'Potemkin Steps (historical site and great city view)',
    'Odessa Opera and Ballet Theatre (exterior visit)',
    'Lunch at a local seafood restaurant',
    'Return to Odessa by 20:00')

    






    






    



